body {
    padding: 0;
    padding-top: 30px;
    margin: 0;
    display: list-item;
}

/* header */

div h1 {
    text-align: center;
    font-family: Loma;
    font-size: 35px;
    border: dotted yellow;
    color: white;
    text-shadow: 0 0 3px #111;

}


/* body */

#logo {
    position: absolute;

    width: 200px;
    height: auto;
    padding-left: 50px;
    padding-top: 20px;
}


#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-size: cover;
    border-bottom: dashed;
    border-bottom-color: black;
    border-bottom-width: thick;
    z-index: -1;
}

@media screen and (max-width: 991px) {
    #logo {
        display: none;
    }
}

#container {
    width: 900px;
    margin: auto;
    background-color: white;
}

#bloc{
    background-color: rgba(255,255,255,0.8);
}

#bloc2 {
    background-color: rgba(255,255,255,0.8);
}

/*
#blanc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-left: 400px;
}*/