body {
    padding: 0;
    padding-top: 30px;
    margin: 0;
    display: list-item;
}

/* header */

div h1 {
    text-align: center;
    font-family: Sawasdee;
    font-size: 35px;
    border: dashed darkorange;
    border-width: thin;
    color: white;
    text-shadow: 0 0 3px #111;
    background-color: rgba(0,0,0,0.5);

}



/* index.php */

#logo {
    position: absolute;
    width: 200px;
    height: auto;
    padding-left: 50px;
    padding-top: 20px;
}

#bg_galerie {
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.1;
}


#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-size: cover;
    border-bottom: dashed;
    border-bottom-color: black;
    border-bottom-width: thick;
    background-repeat: repeat-x;
    z-index: -1;
}

@media screen and (max-width: 991px) {
    #logo {
        display: none;
    }
}

#container {
    width: 900px;
    margin: auto;
    background-color: white;
}

#bloc{
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
}

#bloc2 {
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
}

/* galerie.php */

table th {
    font-family: Sawasdee;
    font-size: 25px;
}


